.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h1 {
  margin-bottom: 0;
}

.top p {
  margin-top: 18px;
}

.profiles {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

.leftProf,
.rightProf {
  padding: 14px;
  width: 40%;
  border: 1px solid #ddd;
  border-top: 4px solid #52796f;
  border-radius: 4px;
  box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.leftProf:hover,
.rightProf:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
  .top h1 {
    margin-top: 50px;
  }
  .profiles {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 544px) {
  .container {
    padding: 15px;
  }
  .profiles {
    flex-direction: column;
  }

  .leftProf,
  .rightProf {
    width: 80%;
    margin: 20px auto;
  }
}
