.container {
  height: 100%;
  // border: 1px solid #333;
  border-radius: 40px;
  text-align: center;
  padding: 25px;
  background-color: rgba(246, 246, 241, 0.904);

  width: 85%;
  margin: 0 auto;
  box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.post {
  width: 75%;
  margin: 0 auto;
  opacity: 100%;
}

.post:nth-of-type(1) {
  text-align: center;
}

.post h1 {
  margin-bottom: 3px;
}

.post h2 {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 10px;
}

.post h3 {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Montserrat";
  margin-bottom: 10px;
}

.post p {
  text-align: left;
  letter-spacing: 0.85px;
}

.postContent blockquote:nth-of-type(1):first-letter {
  color: rgba(153, 0, 51, 0.664);
  float: left;
  font-size: 55px;
  line-height: 20px;
  padding-top: 4px;
  padding-right: 3px;
  padding-left: 3px;
}

.blogBotNavigation {
  display: flex;
  justify-content: space-between;
}

.blogBotNavigation a {
  color: rgb(22, 22, 22);
  font-size: 1.15rem;
}

.blogBotNavigation a:hover {
  color: #856d8a;
}

.container hr:nth-of-type(1) {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  box-shadow: none !important;
}

.container hr:nth-of-type(1):before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.container hr:nth-of-type(2) {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.container hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.postContent h4 {
  // color: white;
  font-size: 1.35rem;
}

.postContent p {
  color: #333;
  font-size: 1.1rem;
}

@media screen and (max-width: 1367px) {
  .container {
    width: 90%;
  }

  .postContent blockquote:nth-of-type(1):first-letter {
    line-height: 30px;
  }

  .postContent p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1025px) {
  .container {
    width: 95%;
  }

  .postContent p {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 813px) {
  .container {
    margin-top: 70px;
  }
}
@media screen and (max-width: 541px) {
  .post h1 {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }

  .post h2 {
    font-size: 1rem;
  }

  .post h3 {
    font-size: 0.9rem;
  }

  .post {
    width: 96%;
  }
}
