.container button {
  font-size: 13px;
  text-align: center;
  color: #fff !important;
  padding: 12px 60px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #52796f;
  border-radius: 6px;
  letter-spacing: 1.5px;
  margin: 5px;
  width: 250px;
}

.container button:hover,
.container button:focus {
  font-size: 14px;
  background: #856d8a;
  border: 1px solid #333;
}
