.container {
  margin-top: 90px;
  text-align: center;
  border-top: 2px solid #ccc;
  height: 35vh;
}

.container h2 {
  margin-top: 40px;
}

.container img {
  margin-top: 10px;
  width: 350px;
}

.paymentBtn {
  border: none;
  padding: 0;
  text-transform: uppercase;
}

.paymentBtn:hover {
  background: none;
  border: none;
  color: #333;
}

@media screen and (max-width: 1367px) {
  .container {
    height: 37vh;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    height: 35vh;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 85%;
    margin: 70px auto 0 auto;
    text-align: center;
    border-top: none;
    height: 34vh;
  }

  .container h2 {
    margin-top: 30px;
  }

  .container img {
    margin-top: 10px;
    width: 250px;
  }
}

@media only screen and (max-width: 360px) {
  .container img {
    width: 175px;
  }
}

@media screen and (min-width: 260px) and (max-width: 900px) and (orientation: landscape) {
  .container {
    height: 50vh;
  }
}

@media screen and (min-width: 261px) and (min-height: 900px) and (orientation: portrait) {
  .container {
    height: 22vh;
  }
}
