.container {
  margin-top: 90px;
  text-align: center;
  border-top: 2px solid #ccc;
  height: 30vh;
}

.container h2 {
  margin-top: 40px;
}

.container img {
  margin-top: 10px;
  width: 350px;
}

.paymentBtn {
  border: none;
  padding: 0;
  text-transform: uppercase;
}

.paymentBtn:hover {
  background: none;
  border: none;
  color: #333;
}
