.container {
  display: flex;
  flex-direction: column;
}

.top {
  text-align: center;
}

.bot {
  margin: 5px auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}

.top h1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.top h5 {
  margin-top: 0;
  margin-bottom: 30px;
}

.bot button {
  padding: 8px;
  border-radius: 3px;
  width: 100%;
}

.bot div {
  width: 100%;
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .bot {
    height: 40vh;
  }
}

@media screen and (max-width: 1100px) {
  .bot {
    height: 60vh;
  }
}

@media screen and (max-width: 900px) {
  .container h1 {
    margin-top: 50px;
  }

  .bot {
    height: 50vh;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .container {
    max-width: 100%;
  }

  .bot {
    height: 150vh;
    width: 400px;
  }
}

@media screen and (max-width: 541px) and (orientation: portrait) {
  .bot {
    width: 90%;
    height: 110vh;
  }
}
