.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px 0;
  height: 200px;
}

.header h1 a {
  // margin-top: 30px;
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

.header h3 {
  letter-spacing: 0.15rem;
  font-size: 1.04rem;
  margin: -20px 0 5px 0;
  padding: 0;
}

nav {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 8px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav ul {
  padding-left: 0;
}

nav ul li {
  display: inline;
  position: relative;
  padding: 0 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

nav ul li a {
  color: #2f3e46;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #856d8a;
  outline: none;
}

nav ul li a:focus {
  outline-offset: 7px;
  outline-style: groove;
}

nav ul li a.nav-active {
  color: #333;
}

// a.cart {
//   position: absolute;
//   border-radius: 1000px;
//   background: black;
//   color: white;
//   font-size: 10px;
//   padding: 3px;
//   top: -18px;
//   right: -5px;
//   width: 25px;
//   text-align: center;
//   height: 25px;
//   font-size: 10px;
//   padding: 6px 10px;
//   font-weight: bold;
// }

// @media screen and (max-width: Xpx) {
//   header {

//   }

//   h1 {

//   }
// }
