.container {
  margin: 15px auto -20px auto;
  width: 100%;
  height: 59vh;
  // margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.container h4 {
  font-size: 0.8rem;
}

.container img {
  width: 175px;
  margin: 30px auto;
  // height: 250px;
}
.container a {
  font-size: 0.85rem;
}

.container a:hover,
.container a:focus {
  color: #856d8a;
}

@media screen and (max-width: 1367px) {
  .container {
    height: 47vh;
  }
}

@media screen and (max-width: 1025px) {
  .container {
    height: 62vh;
  }
}

@media only screen and (min-width: 261px) and (max-width: 900px) {
  .container {
    margin: 50px auto 10px auto;
    height: 65vh;
  }

  .container h2 {
    font-size: 1.2rem;
  }

  .container h4 {
    font-size: 0.5rem;
  }

  .container img {
    width: 175px;
    margin: 20px auto;
  }
  .container a {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 361px) {
  .container {
    height: 75vh;
    margin-top: 70px;
  }
}
