.container {
  display: flex;
  flex-direction: column;
}

.container .top,
.container .bottom {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  column-gap: 40px;
}

.appreciate,
.downloads,
.aboutUs,
.purchaseAgain {
  margin-left: 40px;
}

.container .claimReward {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-bottom: 5px;
}

.container h2 {
  font-weight: 300;
  color: #333;
  font-size: 1.3rem;
}

.container p {
  line-height: 1;
}
